div{
    float: left;
    width: 50%;
}
img{
    display:none;
    float:right;
    max-width: 100%;
}
button{
    font-size:40px;
    color:darkblue;
    background-color:blue;
    width:65%;
}
button:hover{
    color:blue;
    background-color: darkblue;

}